<!DOCTYPE html>
<html>
<head>
    <title>Tornadmin</title>
    <link href="{{ static_url('tornadmin/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('tornadmin/vendor/bootstrap/icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ static_url('tornadmin/style.css') }}" rel="stylesheet">
    {% block header %}{% end %}
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="{{ reverse_url('admin:index') }}">
        <img src="{{ static_url('tornadmin/img/nav-logo.png') }}" alt="Tornadmin" class="d-none d-sm-block">
        <img src="{{ static_url('tornadmin/img/icon.png') }}" alt="Tornadmin" class="d-sm-none">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="side-nav px-0 col-10 col-sm-3 col-lg-3 col-xl-2">
            {% module SideNav(admin_site) %}
        </div>
        <div class="content-area col-12 col-sm-9 col-lg-9 col-xl-10 px-lg-5 ml-sm-auto">
            {% block content %}{% end %}
        </div>
</div>

<script type="text/javascript" src="{{ static_url('tornadmin/vendor/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('tornadmin/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
{% block footer %}{% end %}
</body>
</html>